<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Error</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/style.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>

<div sec:authorize="isAuthenticated()" class="logout">
	<form method="post" action="/logout">
		Welcome, <span sec:authentication="name">Username</span>
		<button class="button-cosmo btn btn-link" type="submit">Log Out</button>
	</form>
</div>

<h3>Something went wrong</h3>
<table class="table table-striped">
	<tr>
		<th>status</th>
		<th>error</th>
	</tr>
	<tr>
		<td th:text="${status}"></td>
		<td th:text="${error}"></td>
	</tr>
</table>

<div>
	<a class="btn btn-default" th:href="@{/index}" >Home</a>
</div>

</body>
</html>
